.header {

    border-bottom: 1px solid #ECECEC;
}


.header-container {
    display: flex;
    align-items: center;
}


.logo {
    margin-right: 93px;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}


.web {
    color: var(--accent-color);
}

.header-nav {
    display: flex;
    list-style: none;
    gap: 50px;

}

.header-nav-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms var(--cubic);
}


.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.current {
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header-contacts {
    margin-left: auto;
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}

.header-contacts-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contacts .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    gap: 10px;
    transition: color 250ms var(--cubic);
}

.svg-mail {
    transition: fill 250ms var(--cubic);
    fill: currentColor;
}

.svg-phone {
    transition: fill 250ms var(--cubic);
    fill: currentColor;
}

.header-contacts.link:hover,
.header-contacts.link:focus {
    color: var(--accent-color);
}

.header-contacts.link:hover .svg-mail,
.header-contacts.link:focus {
    fill: var(--accent-color);
}

.header-contacts.link:hover .svg-phone,
.header-contacts.link:focus {
    fill: var(--accent-color);
}

.phone {
    text-transform: uppercase;
}